body {
    font-family: 'IBM Plex Sans';
    transition: 0.5s;
    background-color:white; 
}

html{
    scroll-behavior: smooth;
}

/*Smooth-Scrolling-no blocking header*/
#projects::before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 65px;
  visibility: hidden;
}

/*NAVBAR SETTINGS*/
.navbar{
    background-color:white;
    transition: 0.5s;
    padding:8px 25px;
}

.navbar-brand, 
.nav-link {
    color:rgb(0, 0, 0);
    font-size: 18px;
    font-weight:700;
    letter-spacing: 2px;
}

.nav-link:hover,
.navbar-brand:hover{
   color: #F4D7A2;
}

.navbar-collapse{
    padding-right:50px;
}

.navbar-toggler{
    border-radius:0;
    padding:0px;
    font-size: 2em;
    line-height: 40px; 
    background-color:transparent;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline:none;
    box-shadow:none;
}

.toggle{
    position: absolute;
    top: 20px;
    right: 16px;
    background: rgb(255, 255, 255);
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.toggle.active{
    background: #FDF7F2;
    border: 2px solid white;
}

.toggle:before{
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 14px;
    background: black;
    border-radius: 50%;
    transition: 0.5s;
}

.toggle.active:before{
    left:25px;
    background: #FDF7F2;
}

.intro{
    padding-top: 210px;
    padding-right:20px;
    padding-left:100px;
}

#intro-name{
    color: black;
    font-family: 'IBM Plex Sans';
    font-weight: bolder;
    font-size: 60px;
}

.underline{
    text-decoration: underline #F4D7A2 !important;
}

.about .container{
    display: flex;
    padding:40px;
    padding-top:80px;
    position: relative; 
}
.about-intro{
    font-family:"IBM Plex Sans";
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    padding-top:20px;
}

.courses .about-desc{
    text-align: justify;
    align-items: center;
}

.multi-column{
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
    list-style-position: outside;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#projects {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

.page-title{
    padding-top:150px;
    font-weight: bold;
}


#contact{
    padding-top:100px;
    padding-bottom: 20px;
    text-align: center;
    background-color: white;
    transition: 0.5s;
}

p{
    font-size: 16px;
}
  
.btn-link:hover {
    width:190px;
    text-decoration: none;
    color:white;
}

.btn-link {
    width:180px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 8px;
    background-color: #456651;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);
}

/*SOCIAL MEDIA ICONS*/
.social-media-icons a{
    color:rgb(0, 0, 0);
    margin: 10px;
    transition: 0.5s;
}

.social-media-icons a:hover{
    color:#F4D7A2;
}

a:hover{
    font-weight:bold;
    color: black;
    text-decoration: none;
}

.jumbotron{
    background-color: #F4D7A2;
    color: black;
    padding:3rem 3rem;
    margin-bottom: 20px;
}


/*PROJECTS*/
.card{
    height: 320px;
    border-radius: 3px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.18);
}

.project-div .desc{
    padding-top: 20px;
}

.project-div .card .view-proj {
    opacity: 0%;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    top: 22px;
    right: 52px;
    position: absolute;
}

.project-div .card .more {
    background-image: url("../imgs/right-arrow.svg");
    filter: invert(100%);
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    color: rgb(0, 0, 0);
    border-radius: 100%;
    position: absolute;
}


.card .more:hover ~ span {
    opacity: 0.8;
}

.card .more:hover  {
    background-size: 32px;
    transition: 0.5s;
}

.proj-title{
    font-size: 20px;
    font-weight:500;
    color: black;
    text-align: left;
}

.proj-skills{
    color: #456651;
}

.proj-info{
    text-align: left;
}

.trio{
    display: block;
    margin: 0 auto;
    padding:30px 10px;
}

/*DARK MODE*/
body.night{
    background:#121212;
    transition: 0.5s;
 }

body.night p,
body.night h3,
body.night #intro-name,
body.night .nav-link,
body.night .navbar-brand,
body.night .nav-link:hover,
body.night .proj-title,
body.night li,
body.night .social-media-icons a,
body.night .about-intro{
    color: white;
}

body.night .navbar,
body.night .toggle,
body.night #contact,
body.night .navbar-toggler{
    background-color: #000000;
    color:white;
} 

body.night .social-media-icons a:hover{
    color:#56E9F2;
    
}
body.night .underline{
    text-decoration-color:#56E9F2;
}

body.night .jumbotron{
    background-color: #292929;
}


/* Appearance on smaller screens */
@media (max-width : 768px) {

    .toggle{
        top: 20px;
        right: 90px;
    }

    h3{
        font-size: 32px;
        text-align: center;
    }

    .intro{
        padding-right: 40px;
        padding-left: 40px;
    }
    
    .about-desc{
        text-align: left;
    }
}