body {
    font-family: 'Dosis';
    transition: 0.5s;
    background-color:rgb(255, 255, 255); 
}

html{
    scroll-behavior: smooth;
}

/*Smooth-Scrolling-no blocking header*/
#about::before,
#projects::before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 65px;
  visibility: hidden;
}

/*NAVBAR SETTINGS*/
.navbar{
    background-color:rgb(255, 255, 255);
    transition: 0.5s;
    padding:8px 25px;
}

.navbar-brand, 
.nav-link {
    color:#000;
    font-size: 17px;
    font-weight:600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Dosis';
    transition: 0.5s;
}

.nav-link{
    font-size:16px;
}

.nav-link:hover,
.navbar-brand:hover{
    font-weight: bold;
    color:rgb(125, 71, 211);
}

.navbar-collapse{
    padding-right:50px;
}

.navbar-toggler{
    border-radius:0;
    padding:0px;
    font-size: 2em;
    line-height: 40px; 
    background-color:transparent;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline:none;
    box-shadow:none;
}

.toggle{
    position: absolute;
    top: 16px;
    right: 15px;
    background: rgb(255, 255, 255);
    border: 2px solid #00151f;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}

.toggle.active{
    background: #FDF7F2;
    border: 2px solid #fff;
}

.toggle:before{
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15px;
    height: 14px;
    background: #000000;
    border-radius: 50%;
    transition: 0.5s;
}

.toggle.active:before{
    left:25px;
    background: #FDF7F2;
}

h2{
    margin: 0 0 20px;
    padding: 0;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

h3{
    margin: 0 0 20px;
    padding: 0;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}

#name{
    margin: 100px 0 20px;
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 50px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-family: Oswald;
}

#about{
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 50px;
}

#projects {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}

#contact{
    padding:100px 0;
    text-align: center;
    background-color: white;
    transition:0.5s;
}

p{
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 16px;
    letter-spacing: 0.05em;
}

h6{
    font-weight:bold;
    font-size:16px;
    letter-spacing: 0.10em;
    transition: 0.5s;
    color: rgb(247, 83, 83);
}
  
.btn-link:hover {
    width:190px;
    text-decoration: none;
    color: white;
}

.btn-link {
    width:180px;
    padding: 8px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 8px;
    transition: 0.5s;
    background-color: rgb(125, 71, 211);
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);
}

/*SOCIAL MEDIA ICONS*/
.social-media-icons a{
    color:rgb(0, 0, 0);
    margin: 10px;
    transition: 0.5s;
}


a:hover{
    color: rgb(125, 71, 211);
    text-decoration: none;
}

/*PROJECTS*/

.mouse-card{
    background-color:#d37014;
}

.heart-card{
    background-color: #b83b1c;
}

.emg-card{
    background-color:#77A1D3;
}

.two-card{
    background-color: rgb(131, 101, 243);
}

.fpga-card{
    background-color: rgb(128, 199, 144);
}
.card{
    height: 650px;
    border-radius: 3px;
    position: relative;
    box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.18);

}
.card .view-proj {
    opacity: 0%;
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    letter-spacing: 1px;
    transition: 0.3s;
    top: 22px;
    right: 52px;
    position: absolute;
}

.card .more {
    background-image: url("Images/right-arrow.svg");
    filter:invert(100%);
    opacity:90%;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 40px;
    width: 40px;
    top: 10px;
    right: 10px;
    color: white;
    border-radius: 100%;
    position: absolute;
}

.card .more:hover ~ span {
    opacity: 0.8;
}

.card .more:hover  {
    background-size: 32px;
    transition: 0.5s;
}

.card .text .proj-title{
    font-size: 20px;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Dosis';
    color: white;
    text-align: center;
    padding: 20px 40px;
    padding-top: 70px;
}

.card .text .proj-skills{
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(224, 224, 224);
    text-align: center;
    padding: 10px 10px;
}

.card .text .proj-info{
    text-align: center;
    padding: 20px 20px;
    color:white;
    line-height: 30px;
}

.card .text .mouse-gif{
    display: block;
    margin: 0 auto;
    background-size: 28px;
    height: 250px;
    padding: 10px 10px;
}
.trio{
    display: block;
    margin: 0 auto;
    height: 400px;
    padding: 20px 20px;
}
.vga{
    height:300px;
}

.card .text .emg-circ{
    display: block;
    margin: 0 auto;
    width: auto ;
    max-width: 70% ;
    height: auto ;
    padding: 10px 10px;
}

.card .text .card-img{
    display: block;
    margin: 0 auto;
    width: auto ;
    max-width: 100% ;
    height: auto ;
    padding: 30px 30px;
}

.proj-img{
    display: block;
    margin: 0 auto;
    width: auto;
    max-width:80%;
    height: auto ;
    padding-top: 30px;
}

.proj-page .proj-title{
    font-size: 30px;
    font-weight:500;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Dosis';
    color: #000;
    text-align: center;
    padding: 10px 10px;
    padding-top: 70px;
}
.proj-page .proj-desc{
    color: #000;
    text-align: center;
    padding:30px 30px;
}

/*DARK MODE*/
body.night{
    background:#000;
    transition: 0.5s;
 }

body.night p,
body.night #name,
body.night .nav-link,
body.night .navbar-brand,
body.night .nav-link:hover,
body.night li,
body.night .proj-page .proj-title,
body.night .proj-page .proj-desc{
    color: #fff;
}

body.night .navbar-toggler{
    transition: 0.5s;
    background-color:black;
    color:white;
}

body.night .navbar,
body.night .toggle{
    background-color: #000;
} 

body.night #contact{
    background-color: black;
    transition:0.5s;
}

body.night .btn-default{
    border-color:#56E9F2;
    color:#FFF;
}

body.night .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color:#56E9F2;
}

body.night .social-media-icons a{
    color:#FFF;
    transition:0.5s;
}


body.night h6,
body.night h2,
body.night h3,
body.night a:hover{
    color: #56E9F2;
}

body.night .btn-grad{
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    transition:0.5s;
}

body.night .btn:hover{
    color:rgb(73, 73, 190);
}


/* Appearance on smaller screens */
@media (max-width : 768px) {

    .toggle{
        top: 20px;
        right: 90px;
    }

    h3{
        font-size: 32px;
        text-align: center;
    }

    #about p{
        text-align: center;
    }
}

